useDynLib(RTMB, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, loadModule)
importFrom(Matrix, sparseMatrix)
importFrom(TMB, MakeADFun, sdreport)
importFrom("methods", "as", "callGeneric", "callNextMethod", "is", "new")
importFrom("utils", "as.relistable", "relist")
exportPattern(".")
S3method(Ops, advector)
S3method(Math, advector)
S3method(as.vector, advector)
##S3method(unlist, advector)
S3method(aperm, advector)
S3method(c, advector)
S3method("[", advector)
S3method("[<-", advector)
S3method("[[", advector)
S3method(rep, advector)
S3method(diff, advector)
S3method(sum, advector)
S3method(prod, advector)
S3method(print, advector)
S3method(is.numeric, advector)
S3method("$", Tape)
S3method(print, Tape)
S3method("[", osa)
S3method(Ops, simref)
S3method(Math, simref)
S3method("[", simref)
S3method("[<-", simref)
S3method(length, simref)
S3method(dim, simref)
S3method("dim<-", simref)
S3method(is.array, simref)
S3method(is.matrix, simref)
S3method(as.array, simref)
S3method(is.na, simref)
S3method(t, simref)
S3method(diff, simref)
